<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ABRM">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://litdev01638b941a282a7c8fdevaos.cloudax.dynamics.com/soap/services/cnaABRMIntegrationServiceGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ABRM"
                contract="CnaAbrmIntigrationServiceReference.ABRM" name="BasicHttpBinding_ABRM" />
        </client>
    </system.serviceModel>
</configuration>
